.timerNav {
    margin: 0  0 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: -15px;
}

.timerNav__item {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    transition: .2s;
    color: white;
    background: rgb(34, 5, 18);
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
} 

.timerNav__item-active {
    background-color: rgb(193, 40, 75);
}

.timerNav__item:hover {
    box-shadow: 2px 2px 2px black;
}