.timerAnimation {
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.timerAnimation img {
    width: 100%;
}

.timer__img-animated {
    width: 120px;
    top: 160px;
    left: -60px;
    position: absolute;
    margin: 0 auto;
    height: auto;
    z-index: 1;
    transform: rotate(180deg);
}

.timer__img-animated2 {
    width: 120px;
    top: 160px;
    right: -60px;
    position: absolute;
    z-index: 1;
}

.timer__img-animated3 {
    top: 20px;
    left: 30px;
    position: absolute;
    width: 80px;
    transform: rotate(90deg);
}

.timer__img-animated4 {
    top: 20px;
    right: 30px;
    position: absolute;
    width: 80px;
    transform: rotate(180deg);
}

.anim1 {    
    animation: leftArrow-run 1.5s linear alternate infinite;
}

.anim2 {
    animation: rightArrow-run 1.5s linear alternate infinite;
}

.anim3 {
    animation: leftCross-run 8s linear alternate infinite; 
}

.anim4 {
    animation: rightCross-run 8s linear alternate infinite;
}

.timer__img-animated2 img {
    width: 100%;
    
}

.timer__circle {
    width: 400px;
    background-image: url(../../../images/clock.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 390px;
    margin: 0 auto;
    background-position: center;
}

.timer__title {
    text-align: center;
    padding-top: 130px;
    color: rgb(1, 1, 1);
    font-size: 70px;
}

@keyframes leftArrow-run {
    100%{left: -200px}
}

@keyframes rightArrow-run {
    100%{right: -200px}
}

@keyframes leftCross-run {

    0% {
        top: 20px;
        left: 30px;
        transform: rotate(90deg);
    }

    12% {
        left: -20px;
    }

    25% {
        transform: rotate(10deg);
        top: 280px;
        left: 30px;
    }

    37% {
        top: 350px;
    }

    50% {
        top: 280px;
        left: 400px;
        transform: rotate(-90deg);
    }

    62% {
        left: 430px;
    }

    75% {
        top: 20px;
        left: 400px;
        transform: rotate(-180deg);
    }

    87% {
        top: -30px;
    }

    100% {
        top: 20px;
        left: 30px;
        transform: rotate(-270deg);
    }
}

@keyframes rightCross-run {
    0% {
        top: 20px;
        right: 30px;
        transform: rotate(180deg);
    }

    12% {
        right: -20px;
    }

    25% {
        transform: rotate(270deg);
        top: 280px;
        right: 30px;
    }

    37% {
        top: 350px;
    }

    50% {
        top: 280px;
        right: 400px;
        transform: rotate(360deg);
    }

    62% {
        right: 430px;
    }

    75% {
        top: 20px;
        right: 400px;
        transform: rotate(450deg);
    }

    87% {
        top: -30px;
    }

    100% {
        top: 20px;
        right: 30px;
        transform: rotate(540deg);
    }
}


@media (max-width: 660px) {
    .timer__img-animated{
        width: 0px;
    }
    .timer__img-animated2{
        width: 0px;
    }
    .timer__img-animated3{
        width: 70px;
    }
    .timer__img-animated4{
        width: 70px;
    }
    .anim1 {
        animation: none;
    }
    .anim2 {
        animation: none;
    }
    .anim3 {
        animation: none;
    }
    .anim4 {
        animation: none;
    }
}

@media (max-width: 430px) {
    .timerAnimation {
        width: 100%}
    .timer__circle {
        height: 330px;
        width: 350px;
    }
    .timer__img-animated3{
        top: 5px;
        width: 60px;
    }
    .timer__img-animated4{
        top: 5px;
        width: 60px;
    }
    .timer__title {
        padding-top: 110px;
        font-size: 58px;
    }
}