.timer {
    text-align: center;
    padding: 20px 10px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

.timer__circle img {
    width: 200px;
    height: auto;
    animation: circle-run 2s ease-in-out infinite;
    
}

.timer__title {
    font-size: 90px;
}



@keyframes circle-run {
 0%{transform: rotate(-360deg);}
}