.nav {
    display: flex;
    align-items: center;
    margin-right: -10px;
}
.nav__item {
    list-style-type: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    background-color: #0159655f;
    padding: 5px 10px;
    transition: .3s;
    color: white;
    margin-right: 10px;
}
.nav__item:hover {
    transition: .3s;
    background-color: #06778693;
}
