.nav {
    display: flex;
    align-items: center;
    margin-right: -10px;
    
}
.nav__item {
    list-style-type: none;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
    background-color: rgb(193, 40, 75);
    padding: 2px 8px;
    line-height: 25px;
    transition: .3s;
    color: white;
    margin-right: 10px;
}
.nav__item:hover {
    transition: .3s;
    background-color: rgb(235, 59, 100);
}


@media (max-width: 399px) {
    .nav__item {
        font-size: 20px;
        padding: 5px 8px;
    }
}