.header {
    position: relative;
    background-color: rgb(23, 3, 12);
    z-index: 10;
}

.header__inner {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}