@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Amita', cursive;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration:none;
  color: inherit;
}

body {
  
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  height: 100vh;
  position: relative;
  background-color: #1F6B75;
  background-image: url(./images//background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
